extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  if(role.permissions.includes("users_edit"))   
    h1.mb-4 #{pageTitle}
      +alert-error(messages)
      +alert-success(messages)
    div(class="form-create-item")
      form(
        action=`${prefixAdmin}/users/edit/${record._id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
      )
        div(class="form-group")
          label(for="fullName") Họ tên
          input(
            type="text"
            class="form-control"
            id="fullName"
            name="fullName"
            value=record.fullName
          )
        div(class="form-group")
          label(for="email") Email
          input(
            type="text"
            class="form-control"
            id="email"
            name="email"
            value=record.email
          )
        div(class="form-group")
          label(for="password") Mật khẩu
          input(
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Nhập mật khẩu mới"
          )
        div(class="form-group")
          label(for="phone") Số điện thoại
          input(
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            value=record.phone
          )
        div(class="form-group" upload-img)  
          label(for="avatar") Ảnh đại diện
          div(class="upload-img")
            input(
              type="file"
              class="form-control-file"
              id="avatar"
              name="avatar"
              accept="image-*"
              upload-img-input
              )
            button(class="btn btn-light" delete-img) Hủy ảnh
          img(src=record.avatar alt="" upload-img-preview class="img-preview")
        div(class="form-group form-check-inline")
          input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="active"
            checked= record.status == 'active'
          )
          label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check-inline")
          input(
            type="radio"
            class="form-check-input"
            id="statusInActive"
            name="status"
            value="inactive"
            checked= record.status == 'inactive'
          )
          label(for="statusInActive" class="form-check-label") Dừng hoạt động 
        div(class="form-group")
        button(
          type="submit"
          class="btn btn-success"
        ) Cập nhập
  else 
    h1.mb-4 Bạn không có quyền này