extends ../../layouts/default
include ../../mixins/products-layout.pug
block main
  .container 
    .row.justify-content-center
      .col-4.mx-auto
        h2(class="text-center mt-5") Xác nhận OTP

        div(class="form-oder")
          form(
            action=`/user/password/otp/${email}`
            method="POST"
          )
            div(class="form-group")
              label(for="email") Email
              input(
                type="email"
                class="form-control"
                id="email"
                name="email"
                value=email 
                disabled
              )
            div(class="form-group")
              label(for="otp") Mã OTP
              input(
                type="text"
                class="form-control"
                id="otp"
                name="otp"
              )
            div(class="form-group")
              button(class="btn btn-primary btn-block" type="submit") Xác nhận
